<!DOCTYPE html>
<html lang="en">
	<title>POLYSTUDY - home page</title>

	<link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
	<link rel="stylesheet" type="text/css" href="../styles/style.css" />
	<script src="../scripts/buttons.js"></script>

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body class="homePage">

		<ul class="bar-side">
			<h1>POLYSTUDY</h1>
			<li class="bar-side">
				<button onclick="toggleClassDisplay('manageNotesOption')">Manage notes</button>
				<button onclick="location.href = '/manageNotes';"class="manageNotesOption">add notes</button>
				<button class="manageNotesOption">view notes</button>
			</li>
			<li class="bar-side">
				<button onclick="location.href = '/manageNotes';"> See Schedule</button>
			</li>
		</ul>

		<div class="bar-top">
			<ul class="bar-top">
				<li class="bar-top">
					<a href="/account" class="image">
						<img src="/images/defaultProfilePicture.png" />
					</a>
				</li>
				<li class="bar-top">
					<a href="" class="image">
						<img src="/images/gearPicture.png" />
					</a>
				</li>
				<li class="bar-top">
					<a href="" class="text"><b>CONTACT<b></a>
				</li>
			</ul>
		</div>
		<div class="app-container">
			<div class="text">
				<h2><u>How to use this site</u></h2>
				<br>
				<p><i>-> for planning your studies: </i></p>
				<p>	click on the "See Schedule" button in the side-bar</p>
				<br>
				<p><i>-> For reviewing notes: </i></p>
				<p>	see "manage notes" to do just that!</p>
			</div>
		</div>

	</body>
</html>
