<!DOCTYPE html>
<html lang="en">
	<title>POLYSTUDY - studying timer</title>
	<link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" />
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="library light">
		<div id="timer" class="bubble" method="post">
			<form class="timermode" method="post">
				<button class="timermode" name="button" value="study" id="studyTag">
					study
				</button>
				<button class="timermode" name="button" value="break" id="breakTag">
					break
				</button>
				<button
					class="timermode"
					name="button"
					value="time-out"
					id="time-outTag"
				>
					time-out
				</button>
			</form>
			<div class="clock" id="clock"><%=time%></div>
			<button
				class="default"
				id="start"
				onclick="toggleTimerStartButton(id); 
            toggleTimer(orderedTimeToSeconds(document.getElementById('clock').innerHTML), 'clock', 'start');"
			>
				START
			</button>
		</div>
	</body>
	<script src="../scripts/buttons.js"></script>
	<script src="../scripts/timer.js"></script>
</html>
