/* settingsButton */

img#gearImg {
    transform: rotate(0deg);
    transition: 0.5s;
    cursor: pointer;
}

img#gearImg.rotated {
    transform: rotate(45deg);
    transition: 0.5s;
}

/* settingsWindow */

.settingsWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0);
    display: none;
}

/* settingsButton & ProfileLink */

.image > img {
    width: 60px;
    height: 60px;
}

/* SymboleButton */

button.addButton {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Courier New', monospace;
    font-weight: 900;
    font-size: 25px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: var(--secondaryColor);
    cursor: pointer;
}

button.addButton:active {
    transform: scale(0.95);
}

.top-right {
    position: fixed;
    right: 3%;
    top: calc(75px + 1%);
}

.symbole {
    font-weight: 900;
    font-size: 40px;
    margin-left: 10px;
}


/* Collapsable Divider styles*/

.divider > button {
    background-color: transparent;
    border: none;
    color: lightgrey;
    margin-top: 20px;
}

.divider > button:hover {
    color: white;
    cursor: pointer;
}

.divider > * > h3 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}