.divider > button {
    background-color: transparent;
    border: none;
    color: lightgrey;
    margin-top: 20px;
}

.divider > button:hover {
    color: white;
}

.divider > * > h3 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}