/* TaskForm styles */

#taskForm {
    display: none;
    position: fixed;
    top: 140px;
    right: 15px;
    background-color: lightgrey;
    width: 265px;
    font-size: 15px;
    transition: 0.3s;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}

#taskForm > div {
    margin-left: 5px;
    margin-top: 15px;
}

#taskForm label {
    font-size: 22px;
    display: block;
}
#taskForm label.radio {
    display: inline-block;
    font-size: 18px;
}

#taskForm input {
    display: inline-block;
    height: 25px;
    font-size: large;
    margin: 5px;
    margin-left: 15px;
    border: solid var(--mainColor) 1px;
    border-radius: 4px;
}
#taskForm input[type="number"] {
    width: 50px;
}


#taskForm input#title {
    width: 95%;
}

#taskForm button {
    display: inline-block;
    margin-left: 10%;
    margin-top: 10px;
    color:white;
    font-size: large;
    font-weight: 800;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    height: 30px;
}

#taskForm > button:active {
    transform: scale(0.97);
}

