.scheduleDay { 
    min-width: 175px;
    width: 20vh;
    min-height: 700px; 
    height: 70vh; 
    position: relative;
    display: inline-block;
}

.scheduleDay > .background {
    width: 100%;
    height: 92%;
    position: absolute;
    top: 8%;
}

.scheduleDay > .foreground {
    background-color: transparent;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 8%;
}

.scheduleDay > .scheduleHeader {
    border: 2px solid black;
    height: calc(10% - 4px);
    width: calc(100% - 4px);
    text-align: center;
    padding-top: 10%;
    background-color: var(--secondaryColor);
    color: white;
    font-size:x-large;
}