/* DayPlanner style */

table.schedule {
    display: inline-block;
    background-color: white;
}

table.schedule, 
table.schedule > tbody > tr > th, 
table.schedule > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.schedule > tbody > tr > th, 
table.schedule > tbody > tr > td {
    min-width: 125px;
    max-width: 175px;
}

table.schedule > tbody > tr.weekend > th{
    background-color: var(--thirnaryColor);
}

table.schedule > tbody > tr {
    height: 30px;
}

table.schedule > tbody > tr > th {
    color: white;
    background-color: var(--mainColor);
    margin: 0;
}

table.schedule > tbody > tr:nth-child(odd) {
    background-color: lightgrey;
}

/* ScheduleTimeColumn */

table.timerColumn, 
table.timerColumn > tbody > tr > td  {
    border-collapse: collapse;
    border: 1px solid black;
}

table.timeColumn > tbody > tr {
    height: 25px;
    justify-items: center;
    text-align: right;
}