.task {
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 20px;
}

div.tasksList {
    width: 60%;
    background-color: lightgrey;
    border: 5px inset lightblue;
    padding: 5%;
}

div.tasksList.homePage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
}