/* task styles */

.task {
    text-align: right;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 350px;
    min-height: 50px;
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
}

.task > h3 {
    margin: 10px;
    text-align: left;
    width: 300px;
    margin-bottom: 45px;
    margin-right: 90px;
}

.task > p {
    position: absolute;
    margin: 0;
}

.task > p.difficulty {
    font-weight: 600;
    bottom: 12px;
    right: 15px;
    font-size: 18px;
}

.task > p.subject {
    font-weight: 600;
    bottom: 12px;
}

.task > p.duration {
    right: 15px;
    bottom: 40px;
    font-size: 18px;
}

.easy {
    color: green;
}

.medium {
    color: rgb(206, 165, 0);
}

.hard {
    color: red;
}

.task > button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.task > button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.task > button.options {
    position: absolute;
    top: 15px;
    right: 15px;
}

.icon {
    width: 30px;
}

/* ReducedTask */

.task.reduced {
    font-size: small;
    width: 60%;
    min-height: 20px;
    margin-left: 12%;
}

/* leftTask-container */

.leftTask-container {
    position: fixed;
    width: 30%;
    float: left;
    height: 400px;
    overflow-y: scroll;
}

/* taskList styles */

.taskList {
    display: inline-block;
    background-color: var(--thirnaryColor);
    width: fit-content;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding: 1%;
    border-radius: 10px;
}

.taskList > h1 {
    display: inline-block;
}

.taskList > .content {
    max-height: 70vh;
    -ms-overflow-style: none;  /* for Internet Explorer 10+ */
    scrollbar-width: none;  /* for Firefox */
    overflow-y: scroll;
}

.taskList > .content::-webkit-scrollbar { 
    display: none;  /* for Safari and Chrome */
}

.taskList > h1 {
    color: white;
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 35px;
}

.taskList > button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.taskList > button:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.taskList > button > img.sortIcon {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.taskList > .sortButton {
    float: right;
}