/* TimerTopMenu */

div.timerTopMenu-container {
    width: 100%;
}

div.timerTopMenu-container > button{
    margin: 30px;
    border: none;
    background-color: transparent;
    color: grey;
    border-bottom: 2px solid grey;
    font-size: 20px;
    cursor: pointer;
}

div.timerTopMenu-container > button:active{
    color: lightgrey;
    transform: scale(0.97);
}

div.timerTopMenu-container > button.selected {
    color: white;
    border-color: white;
}

/* cycle count*/
button.cycleCount {
    position: absolute;
    bottom: 50px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 50px;
    height: 10%;
    padding: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 25px;
    color: white;
    background-color: var(--mainColor);
}

/* timer */

.time {
    font-size: 75px;
}