<!DOCTYPE html>
<html>
  <title>POLYSTUDY - home page</title>
  <link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  <body>
    <div class="center">
      <h1 class="pageheader">POLYSTUDY</h1>
      <button onclick="location.href = '/signIn';" type="button" class="signIn">
        login / signin
      </button>
    </div>
  </body>
</html>
