<!DOCTYPE html>
<html lang="en">
  <title>POLYSTUDY - signIn</title>
  <link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="main">
    <form id="inputForm">
      UserName:<input type="text" name="name" />
      <br />
      password:<input type="text" name="subject" />
      <br />
    </form>
    <button type="console.log('LOGIN DEMANDED')" onclick>register</button>
  </body>
</html>
