html {
  font-family: Copperplate, Fantasy;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
  background-color: rgb(125 70 11);
}
  
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
}

button{
  font-size: 18px;
  border-radius: 20px;
  background-color: transparent;
  border-color: #fdb44d;
  color: #fdb44d;
}

.main::after {
  content: "";
  background: url("../images/library.png");
  background-repeat: repeat-x;
  opacity: 60%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#pageheader {
  font-weight: normal;
  font-size: 75px;
  text-align: center;
  color: #fdb44d;
}

#inputForm {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #ded4c5;
}

#inputForm {
  font-size: 25px;
  text-align: center;
}