html {
  font-family: Copperplate, Fantasy;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
}

h1 {
  font-size: 200%;
  font-weight: normal;
  margin: 0 0 0.25em 0;
}

button{
  font-size: 18px;
  border-radius: 20px;
  background-color: transparent;
  border-color: #fdb44d;
  color: #fdb44d;
}

input {
  font-size: 20px;
  color: #d0881c;
}

input::placeholder {
  color: #d0881c;
}

input.inputForm{
  width: 200px;
  height: 30px;
}

button.signIn{
  font-size: 25px;
}

button:hover{
  background-color: #c7872d;
  border-color: #0a0601;
  color: #0a0601;
}

body.library::after {
  content: "";
  background: url("../images/library.png");
  background-color: rgb(5 3 1);
  background-repeat: repeat-x;
  opacity: 85%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body.app::after{
  background-color: rgb(167, 126, 85);   
}

.center{
  text-align: center;
}

.pageheader {
  font-weight: normal;
  font-size: 75px;
  text-align: center;
  color: #fdb44d;
}

.formBox{
  position: absolute;
  top: 40%;
  left: 50%;
  width : 30%;
  height : 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inputForm {
  margin: 5%;
  text-align: center;
  font-size: 30px;
  color: #d0881c;
}

.inputForm::after {
  content: "";
  background-color: rgb(71, 46, 35);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 7%;
}

.inputBox{
  width: 80%;
  height: 35px;
  margin: 5%;
  border-style: hidden;
  border-bottom-style: solid;
  background-color : transparent;
  border-bottom-color: #fdb44d;
}