<!DOCTYPE html>
<html lang="en">
	<title>POLYSTUDY - Account</title>
	<link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" />
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="library">
		<form class="bubble absCenter" method="post">
			<button class="default" name="button" value="logout">LOGOUT</button>
		</form>
	</body>
</html>
