<!DOCTYPE html>
<html lang="en">
	<title>POLYSTUDY - study schedule</title>
	<link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script src="../scripts/buttons.js"></script>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="homePage">

		<ul class="bar-side" id="bar-side">
			<h1>POLYSTUDY</h1>
			<li class="bar-side">
                <button onclick="location.href='/homePage'">HomePage</button>
				<button onclick="toggleClassDisplay('studyTool')">Manage schedule</button>
                <button class="studyTool" onclick="location.href='/studyTimer'">Timer</button>
			</li>
            <button class="rightPullTag" 
            onclick="toggleClassToElement('bar-side', 'hidden');
                     toggleClassToElement('app-container', 'fullScreen');">
                <div></div>
            </button>
		</ul>

		<div class="bar-top">
			<ul class="bar-top">
				<li class="bar-top">
					<a href="/account" class="image">
						<img src="/images/defaultProfilePicture.png" />
					</a>
				</li>
				<li class="bar-top">
					<button href="" class="image">
						<img src="/images/gearPicture.png" />
					</button>
				</li>
				<li class="bar-top">
					<a href="" class="text"><b>CONTACT<b></a>
				</li>
                <li class="bar-top date">
					<a class="text date"><b>07/14 july 2022<b></a>
				</li>
			</ul>
		</div>
        
		<div class="app-container" id="app-container">
			<table class="schedule">
                <tr id="one">
                    <td class="title">MONDAY</td>
                    <td class="title">TUESDAY</td>
                    <td class="title">WEDNESDAY</td>
                    <td class="title">THURSDAY</td>
                    <td class="title">FRIDAY</td>
                    <td class="weekend title">SATURDAY</td>
                    <td class="weekend title">SUNDAY</td>
                </tr>
                <tr class="two">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="three">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="four">
                    <td><button class=""></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="five">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="six">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="seven">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="eight">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="nine">
                    <td><button class=""></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="ten">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="eleven">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="twelve">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="thirteen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="fourteen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="fifteen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="sixteen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="seventeen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="eighteen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
                <tr class="nineteen">
                    <td><button class="one"></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td><button></button></td>
                    <td class="weekend"><button></button></td>
                    <td class="weekend"><button></button></td>
                </tr>
            </table>
		</div>

	</body>
</html>
