<!DOCTYPE html>
<html lang="en">
	<title id="browserTab"><%=time%> - POLYSTUDY</title>
	<link rel="icon" type="image/x-icon" href="/images/webapp_logo.png" />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" />
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="library light">
		<div id="timer" class="bubble" method="post">
			<form class="timermode" method="post">
				<button
					class="timermode"
					type="button"
					name="button"
					value="study"
					id="studyTag"
					onclick="setTimerByState(value);"
				>
					study
				</button>
				<button
					class="timermode"
					type="button"
					name="button"
					value="break"
					id="breakTag"
					onclick="setTimerByState(value);"
				>
					break
				</button>
				<button
					class="timermode"
					type="button"
					name="button"
					value="time-out"
					id="time-outTag"
					onclick="setTimerByState(value);"
				>
					time-out
				</button>
			</form>
			<div class="clock" id="clock"><%=time%></div>
			<button
				class="default"
				id="start"
				onclick="toggleTimerStartButton(id); 
            toggleTimer(orderedTimeToSeconds(document.getElementById('clock').innerHTML), 'clock', 'start');"
			>
				START
			</button>
		</div>
		<div class="bar-top reduced" id="topRightBar">
            <ul class="bar-top">
				<li class="bar-top">
					<a href="/account" class="image">
						<img src="/images/defaultProfilePicture.png" />
					</a>
				</li>
				<li class="bar-top">
					<button class="image" id="settingsButton" 
                    onclick="toggleClassToElement('settingsImage', 'rotated');
                             toggleClassToElement('settingsPage', 'hidden');">
						<img src="/images/gearPicture.png" id="settingsImage"/>
                    </button>
				</li>
				<li class="bar-top">
					<a href="" class="text"><b>CONTACT<b></a>
				</li>
			</ul>
            <button class="bottomPullTag" onclick="toggleClassToElement('topRightBar', 'hidden');">
                <div></div>
            </button>
        </div>
        <div class="settingsPage hidden" id="settingsPage"></div>
	</body>
	<script src="../scripts/buttons.js"></script>
	<script src="../scripts/timer.js"></script>
</html>
